// colors
$darkGreen: #5c8d89;
$green: #7fb77e;
$lightGreen: #b1d7b4;
$veryLightGreen: #f4f9f4;
$darkGrey: #828282;
$white: #ffffff;
$lightGrey: #f2f2f2;
$lemmon: #f7f6dc;
$orange: #ffc090;

// font family
$fontFamily: "Montserrat", sans-serif;
$lightFont: 600;
$heavyFont: 800;

// fonts
$logoFont: calc(1.25 * 31.42px);
