@import "./_variables";

.bigDiv {
  position: absolute;
  width: 60%;
  top: 10%;
  left: 25%;
  display: grid;
  align-items: center;
  text-align: center;
}

.all {
  margin: 30px;
}

.userInfo {
  display: flex;
  align-items: center;

  .profileImg {
    width: 65px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px;
  }

  h2 {
    font-style: italic;
    margin-left: 10px;
  }
}

.snsimg {
  width: 600px;
  height: 600px;
}
